* {
    background-color: antiquewhite;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
 
header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#line-break {
    width: 50%;
    height: 1px;
    background-color: black;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}
  
#grid-container {
    display: grid;
    width: 500px;
    height: 500px;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

#grid-cell {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.black {
    background-color: black;
}